# App
spring.application.name=brokerhub
spring.profiles.active=dev

# Datasource
spring.datasource.url=<>
spring.datasource.username=<>
spring.datasource.password=<>

# Market data service
marketdata.base-url = http://localhost:8000

# Hibernate / JPA (let Flyway manage schema, not Hibernate)
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Flyway
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration

# JWT secret
jwt.secret=
jwt.expiration-ms=

# External API keys
kite.api.key=<>
kite.api.secret=<>
kite.api.userId=<>
dhan.access-token=<>