# App
spring.application.name=brokerhub
spring.profiles.active=dev

# Datasource
spring.datasource.url=<>
spring.datasource.username=<>
spring.datasource.password=<>

# Market data service
marketdata.base-url = <>

# Hibernate / JPA (let Flyway manage schema, not Hibernate)
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

# Flyway
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration

# JWT secret
jwt.secret=<>
jwt.expiration-ms=<>

# Broker credentials master key
app.security.master-key-base64=<>

# External API keys
kite.api.key=<>
kite.api.secret=<>
kite.api.userId=<>
dhan.access-token=<>